body{
    background-color: #f0f9ff;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
header{
    text-align: center;

}
h1{
    background-color: #ccfbf1;
    color: #0f766e;
}
.menu {
    background-color: #e0f2fe;
    font-weight: bolder;
    font-size: 18px;
}
a{
    text-decoration: none;
}
a:hover{
    background-color: #0284C7;
    color: white;
}
.selection {
    color: #0369a1;
}
.item{
    text-align: center;
    font-size: 18px;
}
form{
    background-color: #f8fafc;
}
label{
    color: #134e4a;
}
input{
    width: 225px;
    height: 23px;
    font-size: 18px;
}
input[type="date"]{
    width: 150px;
    height: 28px;
}
select, option{
    width: 190px;
    height: 24px;
    font-size: 18px;
}
textarea{
    width: 220px;
    height: 50px;
    font-size: 18px;
}
input:focus , select:focus , option:focus , textarea:focus {
    background-color: #ECFEFF;
}
.submit{
    margin-top: 20px;
    background-color: #0ea5a4;
    color: white;
    font-size: 20px;
    font-weight: bold;
}
.submit:hover{
    background-color: #0f766e;
}
footer{
    text-align: center;
    background-color: #0f766e;
    color: #ffffff;
    margin-top: 25px;
}
footer p{
    margin: 4px;
}