body{
    background-color: #f0f9ff;
    font-family: 'Times New Roman', Times, serif;
}
header{
    text-align: center;
    margin-bottom: 30px;
}
h1{
    background-color: #ccfbf1;
    color: #0f766e;
}
.menu {
    background-color: #e0f2fe;
    font-weight: bolder;
    font-size: 18px;
}
a{
    text-decoration: none;
}
a:hover{
    background-color: #0284C7;
    color: white;
}
.selection {
    color: #0369a1;
}
table {
    width: 100%;
}

tr:hover{
    background-color: #E0F2FE;
}
th{
    font-size: 14px;
    background-color: #bae6fd;
    color: #075995;
    border: 1px solid #475569;
}
td{
    border: 1px solid #475569;
    
}

footer{
    text-align: center;
    background-color: #0f766e;
    color: #ffffff;
    margin-top: 25px;
}
footer p{
    margin: 4px;
}
